{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "68"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["transform-currency-operators"],
    "styled-components"
  ]
}
